body {
    margin: 0;
}
body, html, .all {
    height: 100%;
    width: 100%;
}
.all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    background-image: url(board.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 470px;
    max-height: 500px;
    padding: 15%;
}
.line {
    display: flex;
    justify-content: center;
}
.peg {
}
.empty-slot {
}
.slot {
    flex-grow: 1;
    flex-basis: 0;
}
.slot img {
    max-width: 100%;
}