html, body, .all {
    width: 100%;
    height: 100%;
    margin: auto;
}
.all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
}
.grid-container {
    width: 80%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
}
.grid {
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.cell {
    background-size: contain;
}
.empty {
    background-color: white;
}
.x {
    background-image: url("x.jpg");
}
.o {
    background-image: url("o.jpg");
}
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    display: none;
}
.modal-content {
    background-color: #f8f8f8;
    box-shadow: 0 4px 23px 0 #000000c8;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
