html, body, .all {
    width: 100%;
    height: 100%;
    margin: auto;
}
.all {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Assistant', sans-serif;
}
.grid {
    width: 500px;
    height: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    gap: 10px;
}
.cell {
    background-size: contain;
}
.empty {
    background-color: white;
}
.x {
    background-image: url("x.jpg");
}
.o {
    background-image: url("o.jpg");
}