html, body {
    background-color: #d1f4ff;
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 97%;
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: #f1fcff;
    border-radius: 10px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}