html, body {
  margin: 0;
  height: 100%;
  font-family: 'Secular One', sans-serif;
  background-color: #d0d0ff;
}
#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: auto;
}
#title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#title {
  flex-grow: 1;
  text-align: center;
  font-size: 20pt;
  padding: 10px 0;
}
.title-side {
  width: 20px;
  text-align: center;
  font-size: 14pt;
  padding: 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#guesses-wrapper {
  flex-grow: 1;
}
.guesses {
  width: 330px;
  height: 100%;
  max-height: 450px;
  background-color: #e0e0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px 8px;
  border-radius: 6px;
  font-size: 19pt;
}
.single-row {
  height: 60px !important;
  width: 300px;
}
.guess-row {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 8px;
  margin: 8px 0;
}
.box {
  background-color: #f0f0ff;
  text-align: center;
  flex: 1;
  height: 100%;
  width: 20px;
  margin: 0 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s;
  user-select: none;
}
.box-col-0 {
  transition-delay: 0ms;
}
.box-col-1 {
  transition-delay: 150ms;
}
.box-col-2 {
  transition-delay: 300ms;
}
.box-col-3 {
  transition-delay: 450ms;
}
.box-col-4 {
  transition-delay: 600ms;
}
.bul-box {
  background-color: #00dc00;
}
.pgia-box {
  background-color: #ffe741;
}
.klum-box {
  background-color: #a3a3a3;
}
#keyboard-wrapper {
  padding: 10px 0;
}
#keyboard {
  background-color: #d0b0ff;
  width: 95%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 18pt;
}
.keybd-row {
  margin: 5px 10px;
  display: flex;
}
#keybd-row2 {
  margin: 5px 40px;
}
.key {
  height: 50px;
  border-radius: 5px;
  background-color: #c0a0ff;
  margin: 0 3px 0 3px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s;
  cursor: default;
}
.bul-key {
  background-color: #00dc00;
}
.pgia-key {
  background-color: #ffe741;
}
.klum-key {
  background-color: #a3a3a3;
}
.nokey {
  background-color: inherit;
}
.keylabel {
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  display: flex;
  flex-direction: column;
}
.modal-content {
  background-color: #f8f8f8;
  box-shadow: 0 4px 23px 0 #000000c8;
  width: 80%;
  max-height: 90%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.modal-title {
  font-size: 26pt;
  line-height: 26pt;
  color: #666;
}
.modal-tight {
  margin: -5px 0;
}
.modal-text {
  font-size: 12pt;
  text-align: center;
}
.modal-light {
  font-family: 'Assistant', sans-serif;
}
.modal-light a {
  font-weight: bold;
}
.modal-separated {
  padding-top: 7px;
}
.modal-button {
  font-size: 15pt;
  background-color: #bb68ff;
  border-radius: 5px;
  padding: 3px 15px;
  margin-top: 4px;
  cursor: pointer;
}
.modal-close-button {
  font-size: 24px;
  cursor: default;
  text-align: left;
  width: 100%;
  margin: -5px 0;
}
#stats-container {
  margin-top: 10px;
}
.stats-wrapper {
  padding: 10px 0 0 0;
}
.stats-title {
  font-size: 20px;
  text-align: center;
  color: #a400f3;
}
.stats-numeric {
  margin: 0 auto;
  text-align: center;
  display: grid;
  column-gap: 10px;
  row-gap: 0;
  padding-bottom: 10px;
  line-height: 15px
}
.stats-numeric-header {
  font-size: 12px;
}
.stats-numeric-value {
  font-size: 20px;
  color: #666;
}
.stats-histogram {
  display: grid;
  grid-template-columns: 20px 1fr;
  width: 200px;
  column-gap: 7px;
  row-gap: 5px;
  font-size: 13px;
}
.stats-num-guesses {
  text-align: center;
}
.stats-bar-container {
}
.stats-bar {
  background-color: #6e00ff;
  text-align: left;
}
.stats-bar-text {
  color: #f8f8f8;
  padding-left: 5px;
}
.alert {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  transition: visibility 1s;
}
.alert-content {
  background-color: #670bbb;
  color: #fff;
  box-shadow: 0 4px 23px 0 #000000c8;
  width: 80%;
  padding: 14px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.alert-text {
  font-size: 18pt;
  text-align: center;
}
.single-setting {
  display: flex;
  flex-direction: row;
}
.setting-checkbox {
  padding-left: 7px;
}
.setting-text {
  text-align: right;
}
.setting-subtext {
  text-align: right;
  font-family: 'Assistant', sans-serif;
}
