body, html {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Heebo', sans-serif !important;
}
body {
    display: flex;
    justify-content: center;
    background-color: #9bc4ff;
    font-size: 18px;
    align-items: center;
}

#all {
    height: 100%;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
}

.filler {
    flex-grow: 1;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    background-color: #6488fc;
    padding: 15px;
    border-radius: 12px;
    font-weight: 300;
    width: 345px;
    height: 345px;
    position: relative;
}

.grid-item {
    position: absolute;
    border-radius: 12px;
    background-color: #9bc4ff;
    border: 5px solid #9bc4ff;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    overflow: hidden;
    line-height: 19px;
    display: flex;
    text-align: center;
    align-items: center;
    box-shadow: 3px 3px 4px 0px #00000075;
    justify-content: center;
    transition: background 250ms;
    cursor: pointer;
    transition: left 750ms linear, top 750ms linear, opacity 350ms;
}

.grid-item[row="0"],.solved-row[row="0"] {
    top: 15px;
}
.grid-item[row="1"],.solved-row[row="1"] {
    top: 105px;
}
.grid-item[row="2"],.solved-row[row="2"] {
    top: 195px;
}
.grid-item[row="3"],.solved-row[row="3"] {
    top: 285px;
}
.grid-item[col="0"] {
    left: 15px;
}
.grid-item[col="1"] {
    left: 105px;
}
.grid-item[col="2"] {
    left: 195px;
}
.grid-item[col="3"] {
    left: 285px;
}

.fade-out {
    opacity: 0;
}

.solved-row {
    position: absolute;
    border-radius: 12px;
    width: 345px;
    height: 75px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: default;
    grid-column-end: span 4;
    flex-direction: column;
    line-height: 19px;
    color: #fff;
    background-color: #0019d0;
    transition: opacity 350ms linear;
}

.solved-row + .solved-row {
    background-color: #3848c9;
}

.solved-row + .solved-row + .solved-row {
    background-color: #515fc7;
}

.solved-row + .solved-row + .solved-row + .solved-row {
    background-color: #727dcc;
}

.solved-heading {
    font-weight: 600;
}

.selected-item {
    background-color: #d3e5ff;
}

.logo-bar {
    font-size: 25px;
    width: 375px;
    text-align: center;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 20px;
    padding-top: 15px;
    position: absolute;
    color: white;
}

.buttons-container {
    display: flex;
    width: 375px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.unclickable {
    box-shadow: none;
    color: #717070;
}

.mistake-container {
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px #506087;
}

#mistake-counter {
    display: flex;
}

#mistake-text {
    padding-left: 10px;
}

.mistake-circle {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    margin: 3px;
}

.dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    display: flex;
    flex-direction: column;
}

.dialog-frame {
    background-color: #f8f8f8;
    box-shadow: 0 4px 23px 0 #000000c8;
    width: 80%;
    max-height: 90%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.dialog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

.dialog-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
}

.dialog-buttons {
    padding-top: 10px;
}

button.mdl-button {
    font-family: 'Heebo';
    border-radius: 4px;
}

button.mdl-button--raised {
    background: rgba(158,158,158,.2);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.14),0 6px 2px -4px rgba(0,0,0,.2),0 2px 10px 0 rgba(0,0,0,.12);
}

.alert {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    transition: visibility 1s;
}

.alert-content {
    background-color: #670bbb;
    color: #fff;
    box-shadow: 0 4px 23px 0 #000000c8;
    width: 80%;
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.alert-text {
    font-size: 12pt;
    text-align: center;
}
