html, body, .all {
    height: 100%;
    width: 100%;
    margin: auto;
}
.all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Bona Nova', serif;
}
.question {
    font-size: 27px;
}
.input-answer {
    width: 50%;
    height: 3%;
    border-width: 2px;
    font-family: 'Bona Nova', serif;
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
}
.finished-button {
    width: 50%;
    height: 3%;
    border-width: 1px;
    border-radius: 7px;
    background-color: lightblue;
    font-family: 'Bona Nova', serif;
    font-size: 17px;
}
.feedback {
    width: 60%;
    margin: 13px;
    padding: 4px;
    border-radius: 7px;
}
.wrong-answer {
    background-color: #ff9090;
}
.right-answer {
    background-color: #90e390;
}